@import url("./assets/fonts/codenext/codenext.css");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@300;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  width: 100%;
  height: 100%;
  overflow-y: hidden;
}

.titlebar {
  -webkit-user-select: none;
  user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  user-select: auto;
  -webkit-user-select: auto;
  -webkit-app-region: no-drag;
}
